.popup-add-object {
  width: 780px;
}

.popup-add-object__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  display: block;
  text-align: center;
}

.popup-add-object__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;

  .popup-add-object__col {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .popup-add-object__col--media {
    position: relative;

    input {
      display: none;
    }

    .input-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    label {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      pointer-events: initial;
      border: dashed 1px #c1ced7;
      border-radius: 14px;
      background-color: $colorGray;
    }

    .foto-preview {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      border-radius: 14px;
      pointer-events: none;

      & + label {
        background-color: $colorBlack-a4;
        color: $colorWhite;
        font-size: 16px;
        line-height: 18px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .input-item {
  }

  .btn-controls {
    width: 100%;
    margin-top: 20px;
  }
}
