.catalog-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 0;
}

.catalog-menu__item {
  cursor: pointer;
  background-color: #f3f3f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 175px;
  color: $colorDark;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  border-radius: 10px;
  padding: 10px;
  width: 230px;
  transition: box-shadow 0.3s;

  &.active {
    background-color: $colorGreen;
    color: $colorWhite;
    box-shadow: 1px 1px 11px 0px $colorBlack-a2;

    .catalog-menu__desc {
      opacity: 0.5;
    }
  }

  @include hover {
    box-shadow: 1px 1px 11px 0px $colorBlack-a2;
  }
}

.catalog-menu__name {
}

.catalog-menu__count {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
  font-size: 35px;
  line-height: 38px;
}

.catalog-menu__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.skeleton-data {
  position: relative;
  overflow: hidden;
  background-color: #000;
  width: 50px;
  height: 40px;
  opacity: 0.1;
  border-radius: 8px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );
    animation: shimmer 1.5s infinite;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
