@use "./values" as *;
@use "./mixins" as *;

.btn {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  position: relative;
  color: $colorBlack;
  border: 1px solid transparent;
  display: inline-block;
  transition: all 0.3s;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  padding: 18px;
  border-radius: 10px;
  font-variant-ligatures: none;

  &--white {
    background-color: $colorWhite;
    color: $colorBlack;
  }

  @include hover {
    // transform: scale(0.9);
  }

  &:disabled {
    opacity: 0.33;
    pointer-events: none;
  }
}
