@use "./values" as *;
@use "./mixins" as *;

.btn {
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  position: relative;
  color: $colorBlack;
  border: 1px solid transparent;
  display: inline-block;
  transition: all 0.3s;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  font-variant-ligatures: none;

  &--transparent {
    background-color: transparent;
    color: $colorGrayLight-a1;

    @include hover {
      background-color: $colorGrayLight-a1;
      color: $colorWhite;
    }
  }

  &--white {
    background-color: $colorWhite;
    color: $colorBlack;

    @include hover {
      background-color: $colorWhite-a8;
    }
  }

  &--gray {
  }

  &--greenLight {
    background-color: $colorGreenBtn;
    color: $colorGreen;
    border-radius: 30px;

    @include hover {
      background-color: $colorGreenBtnHover;
    }
  }

  &--green {
    background-color: $colorGreen;
    color: $colorWhite;

    @include hover {
      background-color: $colorGreenHover;
    }
  }

  &--add {
    padding-left: 30px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.6 0.4C4.6 0.179087 4.77909 0 5 0C5.22091 0 5.4 0.179086 5.4 0.4V4.58808L9.58824 4.58808C9.81565 4.58808 10 4.77243 10 4.99984C10 5.22725 9.81565 5.41161 9.58823 5.41161L5.4 5.41161V9.6C5.4 9.82091 5.22091 10 5 10C4.77909 10 4.6 9.82091 4.6 9.6V5.41161L0.411764 5.41161C0.184353 5.41161 7.82791e-09 5.22725 1.74841e-08 4.99984C2.71403e-08 4.77243 0.184354 4.58808 0.411765 4.58808H4.6V0.4Z' fill='%23019875'/%3e%3c/svg%3e ");
    background-position: 12px center;
    background-repeat: no-repeat;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    background-color: $colorGrayLight-a1;
    color: $colorWhite;
  }
}

.btn-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;

  &.btn-controls--left {
    justify-content: flex-start;
  }

  &.btn-controls--center {
    justify-content: center;
  }

  &.btn-controls--right {
    justify-content: flex-end;
  }
}

.btn--download {
  color: $colorGreen;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.5 11.269V12.346C0.5 12.9172 0.726922 13.465 1.13085 13.869C1.53477 14.2729 2.08261 14.4998 2.65385 14.4998H12.3462C12.9174 14.4998 13.4652 14.2729 13.8692 13.869C14.2731 13.465 14.5 12.9172 14.5 12.346V11.269' stroke='%23019875' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M4.26953 4.26923L7.5003 0.5L10.7311 4.26923' stroke='%23019875' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M7.5 0.5V10.1923' stroke='%23019875' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 32px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration 0.3s;
  text-decoration-skip-ink: none;

  @include hover {
    text-decoration-color: $colorGreen;
  }
}
