.authPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  padding: 30px 30px 150px;
  background-image: url("@/assets/img/bgauth.jpg");
  background-image: image-set(
    url("@/assets/img/bgauth.webp") type("image/webp"),
    url("@/assets/img/bgauth.jpg") type("image/png")
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include responsive1549 {
    padding-bottom: 30px;
  }
}

.authPage__head {
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    width: 441px;
    height: 103px;
    display: block;
  }
}

.authPage__body{
  margin: auto;
}

.authPage__caption {
  font-weight: 500;
  font-size: 28px;
  line-height: 30px;
  display: block;
  text-align: center;
  color: $colorWhite;

  & + * {
    margin-top: 56px;
  }
}
