.popup-planer {
  width: 100%;
  max-width: 1500px;
}

.popup-planer__head {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 25px;
}

.popup-planer__form {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  .popup-planer__col {
    width: 410px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  textarea {
  }
}

.table {
  &.table--planner {

    .table__header{
      .table__cell{
        white-space: nowrap;
      }
    }

    .table__body {
    }

    .table__cell {
      &:first-child {
        white-space: nowrap;
      }

      &:nth-child(2) {
        white-space: nowrap;
      }

      &:nth-child(3) {
        white-space: nowrap;
      }

      &:nth-last-child(2) {
        max-width: 125px;
      }
    }
  }
}
