.popup-planer {
  width: 100%;
  max-width: 1500px;
}

.popup-planer__head {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 25px;
}

.popup-planer__form {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  .popup-planer__col {
    width: 410px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  textarea {
  }
}

.table {
  &.table--planner {
    .table__body {
    }
  }
}
