.object-page {
  margin-top: -25px;
}

.object-page__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px 0;
}

.object-page__item {
  width: calc(50% - 15px);
  background-color: $colorHover;
  border-radius: 14px;
  padding: 25px 20px;
  position: relative;
  min-height: 250px;
  display: flex;
  flex-direction: column;

  .picture-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    overflow: hidden;
  }

  &--gallery {
    background-color: transparent;
    overflow: hidden;
    border-radius: 0;
  }

  &--full {
    width: 100%;
    padding: 0;
  }
}

.object-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.object-info__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  color: $colorGrayLight-a2;
}

.object-info__state {
  display: flex;
  align-items: center;
  gap: 32px;

  li {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  strong {
    color: $colorBlack;
    font-weight: 500;
  }
}

.object-manager {
  display: flex;
  align-items: center;
  gap: 0;
  margin-top: auto;
  position: relative;
  cursor: pointer;
}

.object-page__controls {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  align-items: flex-start;
  gap: 20px;
  top: 25px;
  right: 20px;
}

.object-page__caption {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 16px;

  .object-page__desc {
    color: $colorGrayLight-a2;
    font-weight: 400;
    padding-left: 15px;
    border-left: solid 1px $colorGrayLight-a2;
  }
}

.object-comands {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: auto;
  width: 100%;
}

.object-comands__item {
  display: flex;
  flex-direction: column;
  background-color: $colorWhite;
  border-radius: 10px;
  padding: 10px 12px;
  min-height: 142px;
  width: 160px;
}

.object-comands__name {
  font-weight: 600;
}

.object-comands__count {
  font-weight: 500;
  font-size: 35px;
  line-height: 37px;
  color: $colorDark;
  margin-top: auto;

  .object-comands__all {
    color: $colorGrayLight-a2;
  }
}

.object-user__list {
  margin-top: auto;

  li {
    font-weight: 500;
    padding: 14px 0;
    border-bottom: solid 1px #dadada;
  }
}

.object-requests {
  margin-top: auto;
  display: flex;
  gap: 15px;
}

.object-requests__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $colorWhite;
  border-radius: 10px;
  padding: 10px 12px;
  min-height: 142px;
  width: 160px;
  gap: 10px;
}

.object-requests__name {
  font-weight: 500;
}

.object-requests__date {
  font-size: 14px;
  line-height: 16px;
  background-color: $colorHover;
  border-radius: 20px;
  padding: 5px;
}

.object-requests__work {
  color: $colorGrayLight-a2;
}

.object-requests__status {
  font-weight: 600;
  position: relative;
  padding-left: 20px;
  margin-top: auto;

  @include before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #5c7ff3;
  }

  &.work {
    &::before {
      background-color: #5c7ff3;
    }
  }

  &.success {
    &::before {
      background-color: #68f35c;
    }
  }

  &.pass {
    &::before {
      background-color: #f83625;
    }
  }
}

.skeleton-object__caption {
  animation: pulseObject 1.5s infinite ease-in-out;
  background-color: $colorGray;
  width: 50%;
  height: 30px;
  border-radius: 8px;
  margin: 0 auto;
}

.skeleton-object__media {
  animation: pulseObject 1.5s infinite ease-in-out;
  background-color: $colorGray;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
}

.skeleton-object-page {
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-object-page .skeleton__line {
  display: inline-block;
  background-color: $colorGrayDark;
  border-radius: 4px;
}

.skeleton__icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.skeleton__text {
  width: 60%;
  height: 18px;
  margin-bottom: 10px;
}

.skeleton__label {
  width: 40px;
  height: 14px;
  margin-right: 6px;
}

.skeleton__number {
  width: 20px;
  height: 14px;
}

.skeleton__title {
  width: 80px;
  height: 16px;
  margin-bottom: 8px;
}

.skeleton__select {
  width: 150px;
  height: 32px;
  border-radius: 6px;
}

@keyframes pulse {
  0% {
    background-color: $colorGray;
  }
  50% {
    background-color: $colorGrayDark;
  }
  100% {
    background-color: $colorGray;
  }
}

@keyframes pulseObject {
  0% {
    background-color: $colorGray;
  }
  50% {
    background-color: $colorGrayDark;
  }
  100% {
    background-color: $colorGray;
  }
}
