.modal-enter {
  .modal__overlay {
    opacity: 0;
  }

  .modal__content {
    opacity: 0;
    transform: translateY(-100px);
  }
}
.modal-enter-active {
  .modal__overlay {
    opacity: 1;
  }

  .modal__content {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease, transform 300ms ease;
  }
}
.modal-exit {
  .modal__overlay {
    opacity: 1;
  }

  .modal__content {
    opacity: 1;
    transform: translateY(0);
  }
}
.modal-exit-active {
  .modal__overlay {
    opacity: 0;
  }

  .modal__content {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 300ms ease, transform 300ms ease;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__overlay {
  background-color: $colorBlack-a5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.modal__content {
  background: #fff;
  padding: 15px;
  border-radius: 14px;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 5px;
  right: -25px;
  border: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.05 13.65L0 12.6L5.775 6.825L0 1.05L1.05 0L6.825 5.775L12.6 0L13.65 1.05L7.875 6.825L13.65 12.6L12.6 13.65L6.825 7.875L1.05 13.65Z' fill='white'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
