.skeleton {
  animation: pulse 1.5s infinite ease-in-out;
  background-color: $colorGray;
}

.skeleton__image {
  width: 100%;
  height: 123px;
  background-color: $colorGrayDark;
}

.skeleton__line {
  height: 18px;
  background-color: $colorGrayDark;
  border-radius: 4px;
}

.skeleton__title {
  width: 100%;
}

.skeleton__info {
  width: 30%;

  &::before {
    display: none;
  }
}

.object-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  @include responsive1439 {
    gap: 15px;
  }
}

.object-item {
  box-shadow: 2px 3px 8px 0px #0000000d;
  border-radius: 14px;

  .picture-block {
    width: 100%;
    height: 123px;
    border-radius: 14px;
    overflow: hidden;
  }

  .not-foto {
    width: 100%;
    height: 123px;
    border-radius: 14px;
    overflow: hidden;
    background-color: $colorGrayDark;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
  }
}

.object-item__content {
  padding: 10px;
}

.object-item__name {
  font-weight: 600;
}

.object-item__info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  li {
    position: relative;
    font-weight: 500;

    &:first-child {
      &::before {
        display: none;
      }
    }

    @include before {
      background-color: $colorGrayLight-a1;
      width: 1px;
      height: 100%;
      left: -28px;
      top: 0;
      opacity: 0.3;

      @include responsive1699 {
        left: -18px;
      }

      @include responsive1439 {
        left: -24px;
      }

      @include responsive1279 {
        left: -14px;
      }
    }
  }
}

.object-item__bl {
  color: $colorGrayLight-a1;
  display: flex;
  align-items: flex-end;
  gap: 10px;

  strong {
    font-weight: 500;
    color: $colorBlack;
  }
}

@keyframes pulse {
  0% {
    background-color: $colorGray;
  }
  50% {
    background-color: $colorGrayDark;
  }
  100% {
    background-color: $colorGray;
  }
}
