.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.header__logo {
  width: 138px;
  height: 20px;
}

.menu {
  display: flex;
  gap: 20px;

  .menu__link {
  }
}

.header-controls {
}

.link-logout {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.5 7H13.5' stroke='%236F7583' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M11 4.5L13.5 7L11 9.5' stroke='%236F7583' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M1.5 13.5H4C4.55228 13.5 5 13.0523 5 12.5L5 1.5C5 0.947715 4.55228 0.5 4 0.5H1.5C0.947715 0.5 0.5 0.947715 0.5 1.5L0.5 12.5C0.5 13.0523 0.947715 13.5 1.5 13.5Z' stroke='%236F7583' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 27px;
}
