.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 138px;
  height: 20px;

  @include responsive1439 {
    width: 118px;
    height: 14px;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;

  @include responsive1699 {
    gap: 10px;
  }

  @include responsive1439 {
    gap: 5px;
  }
}

.menu__link {
  background-position: 12px center;
  background-repeat: no-repeat;
  padding: 10px 15px 10px 37px;
  border-radius: 20px;
  transition: all 0.3s;

  @include responsive1699 {
    padding: 10px 10px 10px 33px;
  }

  @include responsive1439 {
    padding: 8px 10px 8px 30px;
    background-position: 10px center;
  }

  &.menu__link--object {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.5 6.94C13.501 6.8012 13.473 6.66372 13.4179 6.53632C13.3628 6.40892 13.2818 6.29438 13.18 6.2L7.00002 0.5L0.820023 6.2C0.718248 6.29438 0.637236 6.40892 0.582143 6.53632C0.52705 6.66372 0.499084 6.8012 0.500023 6.94V12.5C0.500023 12.7652 0.60538 13.0196 0.792916 13.2071C0.980452 13.3946 1.23481 13.5 1.50002 13.5H12.5C12.7652 13.5 13.0196 13.3946 13.2071 13.2071C13.3947 13.0196 13.5 12.7652 13.5 12.5V6.94Z' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  }

  &.menu__link--catalog {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.47125 6.89959C7.32293 6.964 7.16295 6.99724 7.00125 6.99724C6.83954 6.99724 6.67957 6.964 6.53125 6.89959L0.831247 4.25959C0.738688 4.21291 0.660905 4.14145 0.606559 4.05317C0.552213 3.96489 0.523437 3.86326 0.523438 3.75959C0.523437 3.65593 0.552213 3.5543 0.606559 3.46602C0.660905 3.37774 0.738688 3.30628 0.831247 3.25959L6.53125 0.599595C6.67957 0.535188 6.83954 0.501953 7.00125 0.501953C7.16295 0.501953 7.32293 0.535188 7.47125 0.599595L13.1712 3.23959C13.2638 3.28628 13.3416 3.35774 13.3959 3.44602C13.4503 3.5343 13.4791 3.63593 13.4791 3.73959C13.4791 3.84326 13.4503 3.94489 13.3959 4.03317C13.3416 4.12145 13.2638 4.19291 13.1712 4.23959L7.47125 6.89959Z' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M13.5 7.34961L7.4 10.1596C7.26972 10.219 7.12819 10.2498 6.985 10.2498C6.84181 10.2498 6.70028 10.219 6.57 10.1596L0.5 7.34961' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M13.5 10.5996L7.4 13.4096C7.26972 13.469 7.12819 13.4998 6.985 13.4998C6.84181 13.4998 6.70028 13.469 6.57 13.4096L0.5 10.5996' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  }

  &.menu__link--planer {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.5 1.5H10C10.2652 1.5 10.5196 1.60536 10.7071 1.79289C10.8946 1.98043 11 2.23478 11 2.5V12.5C11 12.7652 10.8946 13.0196 10.7071 13.2071C10.5196 13.3946 10.2652 13.5 10 13.5H2C1.73478 13.5 1.48043 13.3946 1.29289 13.2071C1.10536 13.0196 1 12.7652 1 12.5V2.5C1 2.23478 1.10536 1.98043 1.29289 1.79289C1.48043 1.60536 1.73478 1.5 2 1.5H3.5' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M7.5 0.5H4.5C3.94772 0.5 3.5 0.947715 3.5 1.5V2C3.5 2.55228 3.94772 3 4.5 3H7.5C8.05228 3 8.5 2.55228 8.5 2V1.5C8.5 0.947715 8.05228 0.5 7.5 0.5Z' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M3.5 8.5L5.5 10L8 6' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  }

  &.menu__link--dashboard {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.5 0.5H13.5V4.5' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M13.5 0.5L7.85 6.15C7.75654 6.24161 7.63088 6.29293 7.5 6.29293C7.36912 6.29293 7.24346 6.24161 7.15 6.15L4.85 3.85C4.75654 3.75839 4.63088 3.70707 4.5 3.70707C4.36912 3.70707 4.24346 3.75839 4.15 3.85L0.5 7.5' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  }

  &.menu__link--message {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.5 7.5C3.77614 7.5 4 7.27614 4 7C4 6.72386 3.77614 6.5 3.5 6.5C3.22386 6.5 3 6.72386 3 7C3 7.27614 3.22386 7.5 3.5 7.5Z' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M6.75 7.5C7.02614 7.5 7.25 7.27614 7.25 7C7.25 6.72386 7.02614 6.5 6.75 6.5C6.47386 6.5 6.25 6.72386 6.25 7C6.25 7.27614 6.47386 7.5 6.75 7.5Z' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M10 7.5C10.2761 7.5 10.5 7.27614 10.5 7C10.5 6.72386 10.2761 6.5 10 6.5C9.72386 6.5 9.5 6.72386 9.5 7C9.5 7.27614 9.72386 7.5 10 7.5Z' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M7 0.500001C5.82424 0.500367 4.6706 0.81964 3.66194 1.42381C2.65329 2.02799 1.8274 2.89444 1.27223 3.93088C0.717073 4.96732 0.453431 6.13493 0.509389 7.30936C0.565347 8.48378 0.93881 9.62104 1.59 10.6L0.5 13.5L4.15 12.84C5.02891 13.2695 5.99342 13.4951 6.97165 13.4999C7.94987 13.5048 8.91657 13.2888 9.79969 12.868C10.6828 12.4472 11.4596 11.8325 12.0721 11.0698C12.6846 10.307 13.117 9.41586 13.3371 8.46271C13.5573 7.50957 13.5594 6.51903 13.3434 5.56493C13.1275 4.61083 12.6989 3.71779 12.0898 2.95237C11.4806 2.18694 10.7065 1.56889 9.82526 1.14427C8.94399 0.719652 7.97824 0.499424 7 0.500001V0.500001Z' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  }

  &.menu__link--docs {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.7309 12.6154C14.7309 12.85 14.6377 13.075 14.4718 13.2409C14.3059 13.4068 14.0809 13.5 13.8463 13.5H5.38474C5.15012 13.5 4.92512 13.4068 4.75922 13.2409C4.59332 13.075 4.50012 12.85 4.50012 12.6154V2.88462C4.50012 2.65 4.59332 2.425 4.75922 2.2591C4.92512 2.0932 5.15012 2 5.38474 2H10.3078L14.7309 6.42308V12.6154Z' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M7.65393 9.0767L8.98085 9.96131L11.1924 6.42285' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M10 16H3C2.73478 16 2.48043 15.8946 2.29289 15.7071C2.10536 15.5196 2 15.2652 2 15V6' stroke='%2390939C' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  }

  &.menu__link--insp {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.61616 1.10136C8.51249 1.52575 10.1611 2.68683 11.5616 3.87193C12.498 4.66466 13.6264 5.85777 13.6904 6.11401C13.9625 7.19501 11.9458 13.7451 11.1055 14.4978C10.4012 15.1384 4.33494 15.2185 2.8864 14.6099C2.63831 14.5058 2.55028 14.3777 2.16613 13.5849C1.43786 12.0956 0.56554 9.29296 0.237418 7.4032C0.0533493 6.3222 0.0693552 6.11401 0.397477 5.6736C1.46187 4.21625 5.97555 0.877148 6.87989 0.869141C7.01594 0.869141 7.34406 0.973238 7.61616 1.10136ZM2.1759 5.99171C3.28031 4.92672 5.12899 3.52542 6.37746 2.79674C6.64155 2.6446 6.89765 2.51648 6.95367 2.51648C7.20977 2.50047 8.87438 3.6055 10.2509 4.71052C11.5474 5.75949 12.4117 6.61629 12.4117 6.85651C12.4117 7.45707 11.6914 10.1876 11.1552 11.6369C10.8191 12.5418 10.3789 13.5187 10.2829 13.5828C9.94678 13.7829 5.91328 13.887 4.6088 13.7189C4.56121 13.713 4.51583 13.7074 4.47251 13.7021C3.95921 13.639 3.73693 13.6117 3.59113 13.4916C3.47976 13.3998 3.41301 13.2539 3.29529 12.9965C3.28049 12.9642 3.26489 12.9301 3.24829 12.8941C2.63207 11.5489 1.67971 8.29785 1.55967 7.12076L1.51165 6.6323L2.1759 5.99171Z' fill='%236F7583'/%3e%3cpath d='M8.9064 7.10474L7.70595 8.61815L8.15412 9.18667L8.26522 9.32658C8.5436 9.67719 9.01053 10.2653 9.38658 10.7321C9.81874 11.2686 10.1709 11.725 10.1709 11.7571C10.1709 11.7811 9.83474 11.7971 9.41859 11.7971H8.66631L7.45786 10.2597C6.80161 9.41088 6.24941 8.6742 6.24141 8.63416C6.2334 8.58612 6.7616 7.86545 7.41784 7.01666L8.61029 5.47923H9.39458C9.82674 5.47123 10.1629 5.49525 10.1389 5.52728C10.1261 5.55908 9.77013 6.01013 9.29537 6.61165L9.29287 6.61482L9.29208 6.61582L9.28988 6.6186C9.28827 6.62064 9.28666 6.62269 9.28504 6.62473C9.19143 6.74334 9.09282 6.86828 8.99188 6.9963C8.96359 7.03217 8.93509 7.06834 8.9064 7.10474Z' fill='%236F7583'/%3e%3cpath d='M5.6892 5.39115V11.8772H4.40873V5.39115H5.6892Z' fill='%236F7583'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.28504 6.62473C9.19143 6.74334 9.09282 6.86828 8.99188 6.9963C8.96359 7.03217 8.93509 7.06834 8.9064 7.10474' fill='white'/%3e%3c/svg%3e ");
  }

  &.menu__link--educat {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 6L8.80164 7.39928C8.2906 7.62286 7.7094 7.62286 7.19836 7.39928L4 6M12 6L14.8812 4.82952C15.294 4.66183 15.2978 4.07878 14.8874 3.9056L8.7774 1.32797C8.28035 1.11827 7.71966 1.11827 7.2226 1.32797L1.14286 3.89286C0.71634 4.07279 0.716339 4.67721 1.14286 4.85714M12 6V9C12 10.1046 11.1046 11 10 11H6C4.89543 11 4 10.1046 4 9V6M4 6L1.14286 4.85714M1.14286 4.85714V7.75' stroke='%2390939C' stroke-linecap='round'/%3e%3c/svg%3e ");
  }

  @include hover {
    background-color: $colorHover;
  }

  &.active {
    color: $colorWhite;
    background-color: $colorDark;
  }
}

.header-controls {
  position: relative;
  width: 210px;

  @include responsive1699 {
    width: 170px;
  }

  @include responsive1439 {
    width: 140px;
  }

  @include before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 5.5L5.49 1.11C5.5236 1.07491 5.56396 1.04699 5.60865 1.02791C5.65333 1.00883 5.70141 0.998998 5.75 0.998998C5.79859 0.998998 5.84667 1.00883 5.89135 1.02791C5.93604 1.04699 5.9764 1.07491 6.01 1.11L10.5 5.5' stroke='%232B2A2A' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 10px;
    height: 5px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
  }

  &:hover {
    .header-controls__menu {
      opacity: 1;
      pointer-events: initial;
    }

    &::before {
      transform: translateY(-50%) rotate(-180deg) scale(-1, -1);
    }
  }
}

.header-user-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  padding-left: 40px;

  @include before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 7.5C8.79493 7.5 10.25 6.04493 10.25 4.25C10.25 2.45507 8.79493 1 7 1C5.20507 1 3.75 2.45507 3.75 4.25C3.75 6.04493 5.20507 7.5 7 7.5Z' stroke='%232B2A2A' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M13.1803 14.0003C12.7605 12.6912 11.9358 11.5492 10.8251 10.739C9.71441 9.92877 8.37512 9.49219 7.00031 9.49219C5.62551 9.49219 4.28622 9.92877 3.17553 10.739C2.06484 11.5492 1.24013 12.6912 0.820312 14.0003H13.1803Z' stroke='%232B2A2A' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $colorGrayDark;
    left: 0;
    top: 5px;
  }

  .header-user-info__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: $colorDark;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 14px;
    min-height: 20px;

    @include responsive1439 {
      font-size: 16px;
      line-height: 18px;
    }
  }

  .header-user-info__project {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    @include responsive1439 {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.header-controls__menu {
  padding-top: 10px;
  position: absolute;
  z-index: 3;
  top: 100%;
  right: 10px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;

  ul {
    box-shadow: 3px 3px 8px 0px #0000000d;
    border-radius: 10px;
    background-color: $colorWhite;
    padding: 0 12px;
    width: 100%;

    li {
      width: 100%;
    }
  }

  &:hover {
    opacity: 1;
    pointer-events: initial;
  }
}

.link-logout {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.5 7H13.5' stroke='%236F7583' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M11 4.5L13.5 7L11 9.5' stroke='%236F7583' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M1.5 13.5H4C4.55228 13.5 5 13.0523 5 12.5L5 1.5C5 0.947715 4.55228 0.5 4 0.5H1.5C0.947715 0.5 0.5 0.947715 0.5 1.5L0.5 12.5C0.5 13.0523 0.947715 13.5 1.5 13.5Z' stroke='%236F7583' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: left center;
  background-repeat: no-repeat;
  padding: 22px 0;
  padding-left: 27px;
  position: relative;
  width: 100%;
  display: block;
  @include text-decoration-hover($colorBlack);
}
