.table {
  &.table--appeals {
    .table__header {
    }

    .table__body {
      .table__cell {
        &:nth-child(6) {
          width: 20%;
        }
      }
    }
  }
}

.appeleals-controls {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: auto;
  text-align: right;
  width: 31px;

  .icon {
    width: 31px;
    height: 31px;
    background-color: $colorWhite;
    background-size: 14px;
    border-radius: 50%;
    transition: all 0.3s;

    &.icon-add {
      @include hover {
        background-color: $colorGreen;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.5 0.5V14.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M0.5 7.45703H14.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      }
    }

    &.icon-delete {
      background-color: transparent;
    }
  }
}

.appealsMediaBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .appealsMediaBlock__text {
    & + .appealsMediaBlock__text {
      margin-top: 5px;
    }
  }

  .appealsMediaBlock__link {
    cursor: pointer;
    text-decoration: underline;
    color: #6f7583;
    text-decoration-skip-ink: none;

    @include hover {
      text-decoration-color: transparent;
    }
  }
}
