.popup-planer__users {
  margin-top: 20px;

  .popup-planer__users__tabs {
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;

    span {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration 0.3s;
      color: #6f7583;
      text-decoration-skip-ink: none;

      &.active {
        text-decoration-color: $colorBlack;
        color: $colorBlack;
      }
    }

    .active {
    }
  }
}
