.NotPage {
  font-weight: 500;
  font-size: 28px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  justify-content: center;
  width: 100%;
  height: 100vh;

  .NotPage__caption {
    color: #019875;
    font-size: 100px;
    line-height: 120px;
  }
}
